.modal {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: grid;
  justify-content: center;
  align-items:flex-start;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal__content {
  padding: 20px;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  min-height: 100px;
  margin: 1rem;
  position: relative;
  min-width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  justify-self: center;
}
.modal__title {
    margin: 0;
    color: black;
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid grey;
  }
  .modal__body {
    margin: 0;
    flex: 1;
    padding: 20px;
    border-bottom: 1px solid grey;
  }
  .modal__btn {
    padding: 10px;
    margin: 10pxpx;
    display: flex;
    justify-content: flex-end;
  }
  .modal__btn--danger {
    padding: 8px;
    background-color: #dc3545;
    border-radius: 5px;
    margin-right: 5px;
    min-width: 80px;
    cursor: pointer;
  }
  .modal__btn--primary {
    padding: 8px;
    background-color: rgb(23, 162, 184);
    border-radius: 5px;
    min-width: 80px;
    cursor: pointer;
  }